/* DEFAULT STYLE RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








/*MAIN PART OF STYLING*/

html body {
	font-family: 'Open Sans', sans-serif;
	background-color: #1e0741;
	color: #f1ead1;
	height: 100%;
	width: 100%;
	line-height:  1.3;
}
/*INTRO ANIMATION*/
:root {
	/*variables for opening animation*/
	--opening-time: 6s;
	--timing-function: cubic-bezier(.1,.44,.53,.99);
	--logo-delay: 3s;
	--drop-h-time: 0.8s;
}



#loading-mask {
	position: fixed;
	margin-left: -70%;
	height: 100vh;
	width: 240vw;
	z-index: 1;
	transform: skewX(45deg);
	animation-name: loading-screen-off;
	animation-duration: var(--opening-time);
	animation-fill-mode: forwards;
	animation-delay: var(--logo-delay);
}
@keyframes loading-screen-off {
	99% {
		height: 100vh;
		width: 240vw;
	}
	100% {
		height: 0vh;
		width: 0vw;
	}
}
/*logo animation*/
#logo-space {
	position: absolute;
	z-index: 3;
	top: 250px;
	width: 110%;
	text-align: center;
	padding: auto;
	animation: logo-space-off var(--opening-time) ease-out forwards;	
}
@keyframes logo-space-off {
	99% {
		width: 90%;
	}
	100% {
		width: 0%;
	}
}
#logo-mask {
	position: absolute;
	height: 130px;
	background-color: #f1ead1;
	/* border: 1px solid red; */
	width: 600px;
	animation: shrink-up 2.7s ease-out forwards;
	left: 23%;
	z-index: 3;
	transform: skewX(-14deg);
}
@keyframes shrink-up {
	100% {
		width: 0px;
	}
}
#logo {
	color: #1e0741;
	font-size: 111px;
	font-weight: 900;
	letter-spacing: 5px;
	font-style: italic;
	animation: invisible 3.5s linear forwards;
	text-shadow: 0px 0px rgba(37,73,113,1);
}

@keyframes invisible {
	78% {
		text-shadow: -10px 0px #f1ead1;
		
	}
	85% {
		text-shadow: -10px 0px rgba(37,73,113,0);
	}
	100% {
		text-shadow: -10px 0px rgba(37,73,113,0);
		visibility: hidden;
	}
}
#mask-left {
	position: absolute;
	height: 100%;
	width: 51%;
	float: left;
	background-color: #f1ead1;
	/*mask opening*/
	animation-name: mask-open;
	animation-duration: var(--opening-time);
	animation-timing-function: var(--timing-function);
	animation-fill-mode: forwards;
	animation-delay: var(--logo-delay);
	
}
#mask-right {
	position:  relative;
	background-color: #f1ead1;
	height: 100%;
	width: 51%;
	float: right;
	/*mask opening*/
	animation-name: mask-open;
	animation-duration: var(--opening-time);
	animation-timing-function: var(--timing-function);
	animation-fill-mode: forwards;
	animation-delay: var(--logo-delay);
	
}
@keyframes mask-open {
	
	100% {
		width: 0%;
	}
}

/* END OF LOGO ANIMATION */

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 52px;
	font-weight: bold;
	letter-spacing: 5px;
	font-style: normal;
}
h3 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
a {
	color: #f1ead1;
	text-decoration: none;
}
#navbar {
	position: fixed;
	background-color: transparent;
	width: 100%;
	height: 55px;
	display:  flex;
	justify-content: center;
	align-items:  center;
	font-size: 18px;
	/* transition: 0.3s; */
}
#nav-logo {
	transform: translateX(-100px);
	font-size: 12px;
	font-style: italic;
	letter-spacing: 1px;
	margin-left: 2%;
	border: solid 0.5px;
	border-radius: 10px;
	padding: 5px;
	padding-right: 3px;
}
.nav-link {
	color: #f1ead1;
	text-decoration: none;
	margin-left: 10%;
	margin-right: 5%;
	opacity: 0.4;
	height: 50px;
	width: auto;
	transition: 0.4s;
	padding-top: 27px;
}
.nav-link:hover {
	cursor: pointer;
	opacity: 1;
	transform: translateY(27px);
	border-bottom:  1px solid;
}
#welcome-section {
	padding: 25%;
	height:  100%;
	text-align: left;
	padding-left: 33%;
}
#welcome-section>h1 {
	opacity: 0;
	animation: drop-h var(--drop-h-time) ease forwards;
	animation-delay: 3.5s;
	margin-top: -2%;
}
#welcome-section>h3 {
	opacity: 0;
	animation: drop-h var(--drop-h-time) ease-out forwards;
	animation-delay: 4.6s;
	letter-spacing: 2px;
	margin-left: 7%;
	

}
@keyframes drop-h {
	97% {
		margin-left: 0%;
		margin-top: 0%;
	}
	100% {
		margin-left: 0%;
		margin-top: 0%;
		opacity: 1;
	
	}
}
#h3welcome-mask {
	position: absolute;
	background-color: #1e0741;
	width: 300px;
	height: 24px;
	/* border: 1px solid red; */
	margin-top: 2px;
	visibility: hidden;
	animation: h3-mask 0.8s ease-out forwards;
	animation-delay: 4.4s;
	z-index: 2;
	margin-left: 0%;
}
@keyframes h3-mask {
	0% {
		visibility: initial;
		opacity: 1;
	}
	100% {
		margin-left: 18%;
		visibility: hidden;
	}
}
#projects {
	height:  100vh;
}